main{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.feedback-title{
    margin-top: 10%;
}

.star-feedback{
    margin-top: 2%;
    margin-bottom: 6%;
}

.star-feedback img{
    margin:0.5%;
}

.feedback-form{
    margin-top: 5%;
}

input{
    background: none;
    border: none;
    border-bottom: 2px solid #d20094;
    outline: none;
    width: 85%;
    color:white;
    padding-bottom: 1%;
    padding-left: 2%;
}

.button-feedback{
    font-family: "Outfit", sans-serif, 16px; 
      display: block;  
       margin: 2rem auto;  
        padding: 1rem 2rem;  
         font-size: 1.2rem;   
         font-weight: 700; 
           text-transform: uppercase;  
            border: none;  
             cursor: pointer;   
             background: #0ff;  
              color: #101023;
              box-shadow: 0px 0px 50px 0px #0ff;

}

