main{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.feedback-title{
    margin-top: 10%;
}

.star-feedback{
    margin-top: 2%;
    margin-bottom: 6%;
}

.star-feedback img{
    margin:0.5%;
}

.feedback-form{
    margin-top: 5%;
}

input{
    background: none;
    border: none;
    border-bottom: 2px solid purple;
    outline: none;
    width: 85%;
    color:white;
}

