header {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: fit-content;
}

.base-timer {
  width: 10%;
}

.base-timer__circle {
  fill: none;
  stroke: none;
  position: relative;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: #d20094;
}

.base-timer-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  top: 10%;
  right: 8.4%;
}

#remainingTime {
  font-size: 2rem;
  margin: 5%;
}
main {
  text-align: center;
  margin-bottom: 5%;
}

#answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main p {
  margin-bottom: 5%;
}
#answer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.answerDiv {
  width: 35%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.2);
  color: blanchedalmond;
  border-style: solid;
  border-image: 
    linear-gradient(
      to left, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;


  border-radius: 70px;

  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 0.9em;
}

.answerDiv:hover {
  border-color: rgb(255, 0, 200);
}

/* .answerDiv {
  width: 25%;
  margin: 2%;
  padding: 2.5%;
  border: 2px outset #00ffff;
  border-radius: 25px; */
/* } */
input {
  display: none;
}

.checked {
  background-color: #d20094;
}

.remove {
  display: none;
}

footer p {
  text-align: center;
  font-size: 1em;
}

footer span:nth-of-type(2) {
  color: #d20094;
  font-weight: bold;
}
