header {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: fit-content;
}

.base-timer {
  width: 10%;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: #D20094;
}

footer p {
  font-size: 1em;
}

footer span:nth-of-type(2) {
  color: #D20094;
  font-weight: bold;
}
