header {
  display: flex;
  justify-content: space-between;
}

#logo {
  height: fit-content;
}

.base-timer {
  width: 120px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
  position: relative;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: #D20094;
}

.base-timer-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  top: 70px;
  right: 110px;
}

#remainingTime {
  font-size: 2rem;
  margin: 5%;
}
main {
  text-align: center;
  margin-bottom: 5%;
}

#answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main p {
  margin-bottom: 5%;
}

.answerDiv {
  width: 25%;
  margin: 2%;
  padding: 2.5%;
  border: 2px outset #00ffff;
  border-radius: 25px;
}

input {
  display: none;
}

.checked {
  background-color: #D20094;
}

.remove {
  display: none;
}

footer p {
  text-align: center;
  font-size: 1em;
}

footer span:nth-of-type(2) {
  color: #D20094;
  font-weight: bold;
}
