main {
  text-align: center;
}

main div {
  padding-bottom: 2em;
}

#results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Correct {
  text-align: left;
  flex-direction: column;
}

.Correct>:nth-child(1) {
  font-weight: 400;
}

.Wrong {
  text-align: right;
  flex-direction: column;
}

.Wrong>:nth-child(1) {
  font-weight: 400;
}

#circleContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#progressCircle {
  display: block;
  margin-top: 80px;
  top: 50%;
  left: 50%;
  width: 230px; 
  height: 230px; 
}

#svgCircle {
  position: relative;
  margin: 0 auto;
  width: 230px; 
  height: 230px;
}

#track {
  fill: none;
  stroke: #9d1c8e;
  stroke-width: 29px;
  transform: rotate(-90deg);
  transform-origin: center;
}

#progress {
  fill: none;
  stroke: #00fefe;
  stroke-width: 30px;
  stroke-dasharray: 628;
  stroke-dashoffset: -499; /* Mettendo -numero, il cerchio azzurro (domande corrette) si muove in senso antiorario dall cima del cerchio*/
  transform: rotate(-90deg);
  transform-origin: center;
}



.button {
  background: none;
  border: 2px solid white;
  color: white;
  box-shadow: none;
}