main {
  text-align: center;
}

#results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
}

.Correct {
  text-align: left;
  flex-direction: column;
  margin-top: 5%;
}

.Correct > :nth-child(1) {
  font-weight: 400;
  margin-left: 0;
}

#correctPercentage {
  margin-left: 0;
  border-left: 0;
  padding-left: 0;
  padding-bottom: 5px;
}
.Wrong {
  text-align: right;
  flex-direction: column;
  margin-top: 5%;
}

.Wrong > :nth-child(1) {
  font-weight: 400;
  margin-right: 0;
}

#wrongPercentage {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
  padding-bottom: 5px;
}

#circleContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#progressCircle {
  display: block;
  margin-top: 5%;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
}

#svgCircle {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 320px;
}

#track {
  fill: none;
  stroke: #9d1c8e;
  stroke-width: 29px;
  transform: rotate(-90deg);
  transform-origin: center;
}

#progress {
  fill: none;
  stroke: #00fefe;
  stroke-width: 30px;
  stroke-dasharray: 879.64594300514210676954014731826;
  stroke-dashoffset: 0; /* Mettendo -numero, il cerchio azzurro (domande corrette) si muove in senso antiorario dall cima del cerchio*/
  transform: rotate(-90deg);
  transform-origin: center;
}

#button {
  background: none;
  border: 2px solid white;
  color: white;
  box-shadow: none;
  margin-top: 50px;
}

.button {
  position: relative;
  top: -5px;
}

#button:hover {
  background-color: #00fefe;
  color: #9d1c8e;
}

#Congratulations {
  font-size: 20px;
  font-weight: 700;
}

#YouPassedTheExam {
  font-size: 20px;
  font-weight: bold;
}

#HeyChamp {
  font-size: 20px;
  font-weight: 700;
}

#youDidNotPass {
  font-size: 1.5em;
  font-weight: bolder;
}