main {
  text-align: center;
}

main div {
  padding-bottom: 2em;
}

#results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Correct {
  text-align: left;
  flex-direction: column;
}

.Correct>:nth-child(1) {
  font-weight: 400;
}

.Wrong {
  text-align: right;
  flex-direction: column;
}

.Wrong>:nth-child(1) {
  font-weight: 400;
}

.base-timer {
  width: 30%;
  padding-bottom: 0px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: #d20094;
}

.button {
  background: none;
  border: 2px solid white;
  color: white;
  box-shadow: none;
  margin-top: 0;
}

.base-timer > h5 {
  font-weight: 700;
}

.base-timer p {
  font-size: small;
  padding-top: 20px;
  color: white;
}
