main {
    text-align: center;
}

.base-timer {
    width: 10%;
  }
  
.base-timer__circle {
    fill: none;
    stroke: none;
  }
  
.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: #D20094;
  }

#results {
    display: flex;
}