/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Outfit&display=swap" rel="stylesheet"> */

/* font-family: 'Inter', sans-serif;    FONT TITOLO */
/* font-family: 'Outfit', sans-serif;    FONT CORPO*/

body {
  height: 100%;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;  
  color: white; 
  margin: 3% 6%;
}

#logo { 
  width: 10%;
}

ul, span,input{
    font-family: 'Outfit', sans-serif;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

p{
    font-family: 'Outfit', sans-serif;
    padding: 1% 10%;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 3.75em;
  margin: 1%;
}

h3{
    margin: 1%;
    color: #d20094;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 2em ;
}

li{
    list-style-type: none;  
}

ul{
    padding-left: 10%;
}

.button {
  color: #d20094 - #900080;
  font-family: "Outfit", sans-serif, 16px;
}

/* OPPURE METTIAMO UNA CLASSE BG AD ESEMPIO SE NON VOLETE INTACCARE IL BODY */
