span {
  font-weight: bold;
}
h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

h3 {
  color: #d20094;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul {
  padding: 0;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
}
p {
  font-size: 15px;
  margin-top: 20px;
  margin-right: 300px;
  margin-bottom: 30px;
}
.footer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

p {
  display: inline;
}
input[type="checkbox"] {
<<<<<<< HEAD
   display: none; 
=======
>>>>>>> main
  transform: scale(1.5);
  margin: 5px;
  outline: 2px solid white;
  box-shadow: none;
  text-align: center;
  line-height: 1em;
  background: transparent;
}

button {
  margin-top: 0%;
}
