span {
  font-weight: bolder;
}
h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: normal;
}

h3 {
  color: #d20094;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}
ul {
  padding: 0;
  font-size: 15px;
  margin-top: 5%;
  margin-left: 4%;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 2%;
}
p {
  font-size: 1em;
  margin-top: 20px;
  margin-right: 300px;
  margin-bottom: 30px;
}
.footer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%
}

.footer div {
  width: 50%;
}
p {
  display: inline;
}
input[type="checkbox"] {
  accent-color: #900080;
  transform: scale(1.5);
  outline: 2px solid white;
  background: transparent;
  margin-right: 2.5%;
}

button {
  margin-top: 0%;
}
